README
tmp
.fastdev.lock
build.log
build
build/*
Resources
Resources/*
com.appcelerator.titanium.core.prefs
*.DS_Store
plugins
plugins/*
plugins/ti.alloy
plugins/ti.alloy/hooks
plugins/ti.alloy/hooks/alloy.js
.settings
.settings/*
.settings/com.appcelerator.titanium.core.prefs
.settings/com.appcelerator.titanium.mobile.prefs
modules