<Alloy>
	<ScrollView class="container">
		
		<View class="blank"></View>
		
		<View class="absolute white" onClick="openMyAddresses">
			<Label textid="my_addresses"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>
		
		<View class="separator"></View>
		
		<View class="absolute white" onClick="openMyAlertSettings">
			<Label textid="my_alert_settings"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>
		
		<View class="separator"></View>
		
		<View class="absolute white" onClick="openMyAccountSettings">
			<Label textid="my_account_settings"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>
		
		<View class="separator"></View>
		
		<View class="absolute white" onClick="openShareApp">
			<Label textid="share_app"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>

		<View class="separator"></View>
		
		<View class="absolute white">
			<Label class="title"></Label>
		</View>
		<View class="separator"></View>
		<View class="absolute">
			<Label id="community_watch"></Label>
			<Switch id="community_watch_switch" onChange="setState"/>
		</View>
		<View class="absolute">
			<Label textid="law_enforcement"></Label>
			<Switch id="law_enforcement_switch" onChange="setState"/>
		</View>
		<View class="absolute">
			<Label textid="media"></Label>
			<Switch id="media_switch" onChange="setState"/>
		</View>
		<View class="absolute">
			<Label textid="send_anonymosly"></Label>
			<Switch id="send_anonymosly_switch" onChange="setState"/>
		</View>
		
		<View class="separator"></View>
		
		<View class="absolute white" onClick="openAbout">
			<Label textid="about"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>

		<View class="separator"></View>

		<View class="absolute white" onClick="openPrivacy">
			<Label id="terms_and_cond"></Label>
			<ImageView class="arr_right"></ImageView>
		</View>

		<View class="separator"></View>
		
		<View class="horizontal white">
			<Label id="version"></Label>
			<Label id="copyright"></Label>
		</View>
		
		<View class="separator"></View>

		<View class="ad_space"></View>

	</ScrollView>
</Alloy>